.aln-block {
    display: table;
}

.aln-line {
    display: table-row;
}

.aln-line > * {
    display: table-cell;
    white-space: nowrap;
    padding: 0 .25em;
}


     .aln-block{
       
      padding-top:15px
    }
    .aln-line-link{
        display: inline-block;
        width: 13rem;
        padding-left: 9px;
    }
    .aln-line-title{
        
        display: inline-block;
        width: 20rem
    }
    .aln-line-alignment{
        font-family:monospace;
        display: inline-block;
        margin-left: 30%
    
    }
   .aln-line-value{
       font-family: monospace;
       display: inline-block;
       word-break: break-all;

   }

   .aln-line-consensus{
    overflow: hidden;
    font-family: monospace;
    display: inline-block;
    word-break: break-all;
  
   }
.boldd{
    font-weight: bold;
}
.summarystly{
    padding-right: 0px;
    padding-left: 0px;
}
