/*
@author Tatiana Williamson
@createDate March 11, 2019
*/
/*----------------------------------
    statistics.js
-------------------------------------*/
/*
path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
*/
/*-----------------------
    Zoomable Sunburst
------------------------*/
body5 {
        font-family: Sans-serif;
        font-size: 11px;
    }

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 18px;
}

.zoomableSunburst {
    margin: 2% 2% 2% 2%; 
}
/*--------------------------
    End Zoomable sunburst
---------------------------*/

/*------------------------------
    Venn Diagram
---------------------------*/
#venn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin: 2% 2% 2% 2%;
/*    position: relative;*/
}

.venntooltip {
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    background: #333;
    color: #fff;
    padding: 6px;  
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

.stat-text-align {
    margin-top: 15%;
    
}

@media screen and (max-width: 1200px) {
    .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    }
    .active {
        order: -1;
        flex: 1 0 100%;
    }
    .stat-text-align {
        margin: 0;  
    } 
}

@media screen and (max-width: 768px) {
   
     .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    }
    .active {
        order: -1;
        flex: 1 0 100%;
    }
    .stat-text-align {
        margin: 0;  
    }
}

/*----End of Venn Diagram-----*/

/*----------------------------
    Donut chart
------------------------------*/

/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}
/*----------------------*/
.arc text {
    font: 16px Arial, Georgia, sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #ffffff;
}
/*-------------------*/


/*
.pie {
  margin: 20px;
}
*/

.pie text {
  font-family: "Verdana";
  fill: #888;
}

.pie .name-text{
  font-size: 1.1em;
}

.pie .value-text{
  font-size: 3em;
}

.piePie text {
    font-family: "Verdana";
    font: 16px;
}

.piePie path {
    stroke: #ffffff;
}

.legend {
  float: left;
  font-family: "Verdana";
  font-size: .7em;
}
/*------------------*/




/*Bar-Chart*/
.bar-chart, .bar-chart-scale {
	background-color: #e2e8ef;
/*	color: #2f78b7;*/
}

.bar {
    fill: #115D8C;
}

/*Horizontal bar Chart*/
.chart div {
	font: 14px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 6px;
	margin: 5px;
	color: white;
}
#dashboard {
  width: 520px;
/*  border: 1px solid black;*/
}

.chart h4 {
	text-align: center;
}

/*Creating SVG elements*/
.svg-container {
    background-color: #FFC988;
}

/*Pie chart*/
/*
html, body {
    margin: 0;
    padding: 0;
}
*/



