/*
@author Tatiana Williamson
@createDate March 11, 2019
*/
/*----------------------------------
    statistics.js
-------------------------------------*/

.subheading {
    padding-bottom: 50px;
/*    padding-top: 30px;*/
}
/*
path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
*/
.arc text {
    font: 9px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #ffffff;
}

/*-----------------------
    Zoomable Sunburst
------------------------*/
body5 {
    font-family: Sans-serif;
    font-size: 11px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    /*    stroke-width: 1px;*/
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 6px;
}

/*--------------------------
    End Zoomable sunburst
---------------------------*/

/*------------------------------
    Venn Diagram
---------------------------*/
#venn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    /*    font-size: 14px;*/
    margin: 2% 2% 2% 2%;
    position: relative;
}

/*
.venntooltip5 {
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    background: #333;
    color: #fff;
    padding: 6px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}
*/

.venntooltip {
    position: absolute;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #333;
    color: #fff;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
}

.stat-text-align {
    margin-top: 15%;
}

@media screen and (max-width: 1200px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .active {
        order: -1;
        flex: 1 0 100%;
    }

    .stat-text-align {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

    .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .active {
        order: -1;
        flex: 1 0 100%;
    }

    .stat-text-align {
        margin: 0;
    }
}

/*----End of Venn Diagram-----*/

/*----------------------------
    Donut and pie charts
------------------------------*/

/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .25));
}



.pie text {
    font-family: "Verdana", sans-serif;
    fill: #888;
}

.pie .name-text {
    font-size: .5em;
}

.pie .value-text {
    font-size: 1.5em;
}

.pieMotif text {
    font-family: "Verdana", sans-serif;
/*    fill: #888;*/
    fill: #000;
    opacity: .75;
}

.pieMotif .name-text {
    font-size: .5em;
    stroke: none;
}

.pieMotif .value-text {
    font-size: 1.5em;
    stroke: none;
}

.node text {
    font-family: "Verdana", sans-serif;
/*    fill: #888;*/
    fill: #000;
/*    opacity: .75;*/
}
.node text:hover {
    font-family: "Verdana", sans-serif;
/*    fill: #888;*/
    fill: #000;
/*    opacity: .75;*/
    cursor: auto;
}

.node .name-text {
    font-size: 1.2em;
    stroke: none;
    opacity: .5;
}

.node .value-text {
    font-size: 2.3em;
    stroke: none;
    opacity: .5;
}
/*----------------------
    Bar graph
------------------------*/

.bar {
    fill: #115D8C;
}

.bar:hover {
    fill: steelblue;
}

.axis--x path {
    display: none;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #333;
    color: #fff;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
}

/*---------End-----------------*/
