
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 17px;
  font-family: Arial, Verdana, sans-serif;
  color: #4e5359;
  background-color: #f3f3f5;
}

body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  text-decoration: none;
}




/*---Header --- */

#logo {
    margin: -4px;
    padding-top: 0;
    padding-left: 35px;
    padding-right: 15px; 
}
a:hover,a:active{color:#ff5249;}

.gg-brand {
    padding: 0 0 55px;   
}

.gg-menu {
    background: #5f5f5f;
    border-color: #5f5f5f;
    font-family: Helvetica Neue;
    font-size: 17px;
    padding: 10px;
    border-radius: none !important;
}

.gg-menu a {
    color: #ffffff !important;
    font-size: 17px;
}

.gg-menu a:hover,

.gg-menu a:active {
    color: #ff5249 !important;
} 
.gg-menu a:focus {
    
}

.navbar {
    border-radius: 0 !important;
}

.gg-nav-inverse .gg-nav-nav>.open>a, 
.gg-nav-inverse .gg-nav-nav>.open>a:focus, 
.gg-nav-inverse .gg-nav-nav>.open>a:hover {
    color: #fff;
    background-color: #5f5f5f;
}

.gg-dropd-menu {
    background-color: #5f5f5f;
}

.gg-dropd-menu>li>a:focus, .gg-dropd-menu>li>a:hover {
    text-decoration: none;
    background-color: #f5f5f5 !important;
}

.gg-dropd-backr {
    display: block;
    background: #555;
} 

.gg-form {
    font-size: 17px;
}

..gg-menu a.active {
    background-color: #4CAF50;
    color: #ffffff;
}

/*--- Footer ---*/

#logo-uga {
    float: right; 
    position: relative;
    padding-top: 7px;
}

#logo-gwu {
    float: right;
    padding-top: 7px;
}

.bottom-row {
    padding-bottom: 10px;
    background-color:#5f5f5f; 
    color: white; 
    font-size: 14px; 
    font-family: Helvetica Neue;   
}



.bottom-row-left {
/*    padding-bottom: 10px;*/
    padding-left: 45px;
}

.bottom-row-left a,
.bottom-row-center a, 
.bottom-row-right ul li a {
    
    color: #c6c7ca;
}

.bottom-row-right ul li {
    display: inline;
    padding: 10px;
}

.top-row {
    background-color:#5f5f5f; 
    color: white; 
    font-size: 14px; 
    padding-top: 15px; 
    font-family: Helvetica Neue;   
}

.gg-headline_h1 {
   
    color: white; 
    font-family: Helvetica Neue;
    font-size: 17px;
    font-style: italic;
}


/*  -- Homepage --  */


.gg-popular-topics ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 15px;
}
                 
.gg-popular-topics a {
    text-decoration: none !important;
    padding-top:20px;
    font-weight:600;
    text-transform: uppercase;
}                
                 
.card {
    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
                 
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
                           
.gg-card-explore {
    border-top: 1px solid #D4D4D4;
    
}
.gg-card-explore a {
    text-decoration: none !important;
    padding-top:20px;
    font-weight:600;
    text-transform: uppercase;
}

.gg-btn-link a {
    text-decoration: none !important;
    padding-top:20px;
    font-weight:600;
    text-transform: uppercase;
}                     

 .gg-panel-links ul { 
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 15px;
 }
                 
.gg-panel-links a {
    text-decoration: none !important;
    padding-top:20px;
    font-weight:600;  
}   

/* -- Alert -- */


.gg-alert {
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #333;
    color: #eee;
    font-size: 17px;
    text-align: center;
}
 .alert {
    padding: 8px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 0px !important;
}
     
.gg-btn-primary {
    background-color: transparent; 
    border-color: #ccc;
    color: white
}
      
.gg-btn-primary:hover {
    background-color: #eee; 
    border-color: #ccc;
    color: black;
}   

.gg-btn-primary:focus {
    background-color: #979797; 
    border-color: #979797;
    color: black;
}  
.gg-btn-primary a {
    text-decoration: none;
}
      
.gg-btn-margin {
    margin-right: 20px;
    margin-left: 40px;
}    
    









