.text-overflow {
  white-space: initial;
}
/* .page-item.active .page-link {
  background-color: white;
}
.btn-secondary {
  background-color: white;
}
.dropdown-menu {
  background-color: white !important;
}
.btn-secondary {
  background-color: gray;
} */
