.sidebar-page {
	width: 90%;
	margin: 2em auto;
	overflow: auto;
	margin-bottom: 400px;
}

.sidebar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #e6e6e6 !important;
	position: sticky;
}

.sidebar-item {
	position: relative;
	padding: 10px !important;
	font-size: 1.1em !important;
	color: #4a4a4a !important;
	font-weight: 900 !important;
	text-align: left;
	border-bottom: 1px solid #acabab !important;
	margin-bottom: 0px;
	padding: 0 28px 0 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebar-item:hover {
	background-color: #fff !important;
}

.sidebar-item-text {
	font-weight: 900 !important;
}

.sidbar-top-padding {
	padding-top: 5px;
}

.active,
.active:hover,
.active:focus {
	background-color: #2f78b7 !important;
	color: white !important;
}

@media (min-width: 1200px) {
	.sidebar-container {
		height: 100%;
		background-color: #e6e6e6 !important;
		width: 271px !important;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.sidebar {
		top: 0px;
		width: 270px !important;
	}
	.sidebar-col {
		max-width: 270px;
	}
}
/* @media (min-width: 1024px) {
	.sidebar {
		position: fixed;
		top: 120px;
		left: 0;
		width: 270px !important;
	}
	.sidebar-col {
		max-width: 270px;
	}
} */
/* @media (min-width: 969px) {
	.sidebar {
		position: fixed;
		top: 120px;
		left: 0;
		width: 270px;
	}
} */
