
        <div class="container-fluid">
            <div class="row" id="top-row">
                <div class="col-xs-6 col-sm-2">
                    <a href="https://www.ccrc.uga.edu/" target="_blank"><img id="logo-uga" src="images/logo-uga.png"></a>
                </div>
                <div class="col-xs-6 col-sm-4" id="uga" style="padding-bottom: 10px;">
                    <strong>University of Georgia</strong><br>Complex Carbohydrate Research Center
                    <br />315 Riverbend Road Athens, Georgia 30602 USA 
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="https://smhs.gwu.edu/" target="_blank"><img id="logo-gwu" src="images/logo-gwu.png"></a>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
                    <strong>The George Washington University</strong><br>School of Medicine and Health Sciences<br/>2300 Eye Street N.W., Washington, DC 20037 USA
                </div>
            </div>
            <div class="row" id="bottom-row">
                <div class="col-xs-6 col-sm-4" id="bottom-row-left"> 	
                    <small>&copy; 2018 - All rights reserved</small>
                </div>  
                <div class="col-xs-6 col-sm-8">Funded by
                    <a style="color: #c6c7ca;" href=" https://commonfund.nih.gov/" target="_blank">NIH Common Funds</a> 
                    <span style="margin-left: 50px; color: white;">Grant # 
                    <a style="color: #c6c7ca;" href="http://grantome.com/grant/NIH/U01-GM125267-01" target="_blank">1U01GM125267-01</a>
                    </span>
                </div>  
            </div>
        </div>
