
    <nav class="navbar navbar-inverse gg-menu gg-nav-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                   
          </button>
          <a class="navbar-brand gg-brand" href="index.html"><img id="logo" src="images/logo.png"></a>
        </div>
         <div class="collapse navbar-collapse gg-collapse" id="myNavbar">
        <ul class="nav navbar-nav gg-nav-nav">
            <li><a alt="home" href="index.html">HOME</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" alt="explore" href="#">EXPLORE <span class="caret"></span></a>
              <ul class="dropdown-menu gg-dropd-menu">
                <li><a class="gg-dropd-backr" alt="glycan" href="glycan_search.html">Glycan</a></li>
                <li><a class="gg-dropd-backr" alt="protein" href="#">Protein</a></li>
                <li><a  class="gg-dropd-backr" alt="proteoform" href="#">Proteoform</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" alt="quick search" href="quick_search.html">QUICK SEARCH
              </a>
            </li>
            <li><a alt="resources" href="resources.html">RESOURCES</a></li>
            <li><a alt="survey" href="#">SURVEY</a></li>
            <li><a id="gg-main-menu-about" alt="about" href="#">ABOUT</a></li>
          </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="input-group">
            <input type="text" class="form-control gg-form" placeholder="Search.." name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    