    <!DOCTYPE html>
      <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

            <title>homepage</title>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

             <!--[if lt IE 9]>

            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

            <![endif]-->

    <!--        <link rel="stylesheet" type="text/css" href="style.css">-->
    
        </head>
        <body>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <div w3-include-html="header.html"></div>
        <script>w3.includeHTML();</script>

     <div class="container-fluid text-center" style="padding-left: 40px; padding-right: 40px;"> 
      <div class="row"> 
        <div class="col-sm-9">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default text-left card">
                <div class="panel-body">
                 <div class="col-lg-12 col-lg-3">
                    <img  src="images/GlyGen.png" class="gg-object">
                    </div>
                    <div class="col-lg-12 col-lg-9">
                        <h1 class="media-heading" style="color: #ff5249;">GlyGen</h1>
                        <h3 class="media-heading">Computational and Informatics Resources for Glycoscience Research</h3>
                        <p>GlyGen is a data integration and dissemination project for carbohydrate and glycoconjugate related data. GlyGen retrieves information from multiple international datasources and integrates and harmonizes this data. This webportal allows exploring this data and to perform unique searches that cannot be executed in any of the integrated databases alone. Explore</p>
                    </div> 
                </div> <!--  End class="panel-body"> -->
              </div> <!--   End class="panel panel-default text-left"   -->
            </div> <!--   End class="col-lg-12"  -->
          </div> <!--  End class row  -->
          
<!--  Start cards  -->
        
        <div class="row">
           <div class="col-sm-4"> 
              <div class="thumbnail card">               
                  <a class="img-card" href="http://glycomics.ccrc.uga.edu/ggtest/gui/searchpage.html" target="_blank">    
                      <img src="images/glycan-01.png" alt="Glycan">
                  </a>
                      <div class="caption text-left">
                        <h3>Glygen</h3>
                        <p>Search of glycan structures based on their chemical and structural properties</p>
                        <div class="gg-card-explore">
                            <a href="http://glycomics.ccrc.uga.edu/ggtest/gui/searchpage.html" class="btn btn-link btn-block">
                                Explore
                            </a>
                        </div>
                      </div>
              </div>
            </div>
           
           <div class="col-sm-4">
              <div class="thumbnail card">
                  <a href="images/cover.jpg" target="_blank">            
                  <img src="images/cover.jpg" alt="Lights" style="width:100%"></a>
                  <div class="caption text-left">
                    <h3>Proteoform</h3>
                    <p>Search for glycoconjugates based on the proteins or glycan structures involved</p>
                    <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            Explore
                        </a>
                    </div>
                </div> 
              </div>
            </div>
           
            <div class="col-sm-4">
              <div class="thumbnail card">
                  <a href="images/cover.jpg" target="_blank">            
                  <img src="images/cover.jpg" alt="Lights" style="width:100%"></a>
                  <div class="caption text-left">
                    <h3>Protein</h3>
                    <p>Search for proteins structures based on their sequence and their annotations</p>
                <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            Explore
                        </a>
                    </div>
                </div> 
              </div>
            </div>   
          </div> <!--  End cards  -->
    
               <div class="row"> 
                <div class="col-sm-12">
                  <div class="panel panel-default text-left card">
                    <div class="panel-body">
                     <h3 style="text-align: center;">QUICK SEARCH</h3>
                      <div class="gg-panel-links">
                          <ul>
                            <li><a alt="List of Glygen" title="List of Glygen" href=" ">What are the enzymes involved in the biosynthesis of my glycan?</a></li>
                            <li><a alt="List of Protein" title="List of Protein" href=" ">What glycans are synthesized using my enzyme?</a></li>
                            <li><a alt="List of Proteoform" title="List of Proteoform" href=" ">Which proteins have been shown to bear my glycan , and which sites on these proteins bear this glycan?</a></li>
                            <li><a alt="Quick Search" title="Quick Search" href=" ">Which mammalian lectins bind to my glycan?</a></li>
                            <li><a alt=" Try Me" title="Try Me" href=" ">Is this affinity strong or weak?</a></li>
                            <li><a alt=">Explore Resourses" title=">Explore Resourses" href=" ">How does glycosylation of my protein affect the accessibility of its domain (which may, e.g., be an antibody-binding epitope or active site)?</a></li>
                         </ul>
                     </div>
                        <div class="gg-btn-link">
                        <a href="#" class="btn btn-link">
                            See All
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div> 
              
               
            <div class="row"> 
                <div class="col-sm-12">
                  <div class="panel panel-default text-left card">
                    <div class="panel-body">
                     <h3 style="text-align: center;">TRY ME</h3>
                      <div class="gg-panel-links">
                          <ul>
                            <li><a alt="List of Glygen" title="List of Glygen" href=" ">What are the enzymes involved in the biosynthesis of<span style="color: blue;"> Man5 </span>?</a></li>
                            <li><a alt="List of Protein" title="List of Protein" href=" ">What glycans are synthesized using<span style="color: blue;"> MGAT1 </span>?</a></li>
                            <li><a alt="List of Proteoform" title="List of Proteoform" href=" ">Which proteins have been shown to bear <span style="color: blue;">Man5</span>, and which sites on these proteins bear this glycan?</a></li>
                         </ul>
                     </div>
                        <div class="gg-btn-link">
                        <a href="#" class="btn btn-link">
                            See All
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>  
            
                                
    </div> <!-- End class="col-md-9" left left section -->

<!--  Start right section  -->
        <div class="row" style="padding-bottom: 18px;">
         <div class="col-sm-3">
          
          <div class=" panel panel-default thumbnail card">
          <h3>Popular Topics</h3>
           <div class="caption text-left">  
             <div class="gg-popular-topics"> 
              <ul>
                <li><a alt="List of Glygen" title="List of Glygen" href=" ">List of Glygen</a></li>
                <li><a alt="List of Protein" title="List of Protein" href=" ">List of Protein</a></li>
                <li><a alt="List of Proteoform" title="List of Proteoform" href=" ">List of Proteoform</a></li>
                <li><a alt="Quick Search" title="Quick Search" href=" ">Quick Search</a></li>
                <li><a alt=" Try Me" title="Try Me" href=" ">Try Me</a></li>
                <li><a alt=">Explore Resourses" title=">Explore Resourses" href=" ">Explore Resourses</a></li>
             </ul>
             </div>
            </div> 
           </div>
          
  
          <div class="panel panel-default thumbnail card">
              <h3>Explore Resources</h3>
                <div class="caption text-left">

                    <p><a href="https://glytoucan.org/" style="text-decoration: none;"><strong><em>GlyTouCan</em></strong></a><br> is the international glycan structure repository. It assigns globally unique accession numbers to any submitted glycan.</p>

                    <p><a href="http://www.uniprot.org/" style="text-decoration: none;"><strong><em>UniProt</em></strong></a><br>is a freely available, comprehensive resource of high quality protein sequences and functional annotations.<br></p>

                    <p><a href="http://www.unicarbkb.org/" style="text-decoration: none;"><strong><em>UniCarbKB</em></strong></a><br>is a knowledge base for curated glycoconjugate information and their annotations.<br></p>
                </div> 
            </div> 
            
            <div class="panel panel-default thumbnail card">
              <div class="media">
                  <div class="media-left gg-media" style="padding: 20px 40px 0 30px;">
                    <img src="images/tweeter.png" class="media-object" style="width:40px">
                  </div>
                  <div class="media-left">
                    <h3>Tweet with us</h3>
                  </div>
                </div>
                
                <div class="caption text-left">  
                   
                   
                   <a class="twitter-timeline" href="https://twitter.com/TatianaW" data-tweet-limit="3">My tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                   
                   <a href="https://twitter.com/TatianaW?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div> 
          </div>
             
            <div class="panel panel-default thumbnail card">
              <h3>Website Tour</h3>
                <div class="caption">
                <iframe width="300" height="300" src="https://www.youtube.com/embed/4UnF-7Q79Mg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> 
           </div>                                                                       
        </div> <!--   End Right section -->
       </div> 
      </div> <!--  End class row -->
    </div><!-- End class="container text-center"-->

<!--  footer-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div w3-include-html="footer.html"></div>
    </body>
</html>