    <!DOCTYPE html>
      <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

            <title>Home</title>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

             <!--[if lt IE 9]>

            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

            <![endif]-->

            <link rel="stylesheet" type="text/css" href="style.css">
    
        </head>
        <body>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <div w3-include-html="alert.html"></div>
        <div w3-include-html="header.html"></div> 
        <script>w3.includeHTML();</script>

     <div class="container-fluid text-center" style="padding-left: 40px; padding-right: 40px;"> 
      <div class="row"> 
        <div class="col-sm-9">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default text-left card">
                <div class="panel-body">
                 <div class="col-lg-12 col-lg-3">
                    <img  src="images/GlyGen.png" style="width: 95%;">
                    </div>
                    <div class="col-lg-12 col-lg-9">
                        <h1 class="media-heading" style="color: #ff5249;"><strong>GlyGen</strong></h1>
                        <h3 class="media-heading"><strong>Computational and Informatics Resources for Glycoscience Research</strong></h3>
                        <p>GlyGen is a data integration and dissemination project for carbohydrate and glycoconjugate related data. GlyGen retrieves information from multiple international datasources and integrates and harmonizes this data. This webportal allows exploring this data and to perform unique searches that cannot be executed in any of the integrated databases alone.</p>
                    </div> 
                </div> <!--  End class="panel-body"> -->
              </div> <!--   End class="panel panel-default text-left"   -->
            </div> <!--   End class="col-lg-12"  -->
          </div> <!--  End class row  -->
          
<!--  Start cards  -->
        
        <div class="row">
           <div class="col-sm-4"> 
              <div class="thumbnail card">               
                  <a class="img-card" href="glycan_search.html" target="_blank">    
                      <img src="images/glycan-01.png" alt="Glycan">
                  </a>
                      <div class="caption text-left">
                        <h3><strong>Glycan</strong></h3>
                        <p>Search of glycan structures based on their chemical and structural properties.</p>
                        <div class="gg-card-explore">
                            <a href="glycan_search.html" target="_blank" class="btn btn-link btn-block">
                                Explore
                            </a>
                        </div>
                      </div>
              </div>
            </div>
           
           <div class="col-sm-4">
              <div class="thumbnail card">
                  <a href="images/cover.jpg" target="_blank">            
                  <img src="images/cover.jpg" alt="Lights" style="width:100%"></a>
                  <div class="caption text-left">
                    <h3><strong>Proteoform</strong></h3>
                    <p>Search for glycoconjugates based on the proteins or glycan structures involved.</p>
                    <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            Explore
                        </a>
                    </div>
                </div> 
              </div>
            </div>
           
            <div class="col-sm-4">
              <div class="thumbnail card">
                  <a href="images/cover.jpg" target="_blank">            
                  <img src="images/cover.jpg" alt="Lights" style="width:100%"></a>
                  <div class="caption text-left">
                    <h3><strong>Protein</strong></h3>
                    <p>Search for proteins structures based on their sequence and their annotations.</p>
                <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            Explore
                        </a>
                    </div>
                </div> 
              </div>
            </div>   
          </div> <!--  End cards  -->
    
               <div class="row"> 
                <div class="col-sm-12">
                  <div class="panel panel-default text-left card">
                    <div class="panel-body">
                     <h3 style="text-align: center;"><strong>Quick Search</strong></h3>
                      <div class="gg-panel-links">
                          <ul>
                            <li><a alt="What are the enzymes involved in the biosynthesis of glycan X in human?" title="#" href="#">What are the enzymes involved in the biosynthesis of <span style="color: #C13E37;"> glycan X </span> in human?</a></li>
                            
                            <li><a alt="Which proteins have been shown to bear glycan X and which site is this glycan attached to?" title="#" href="#">Which proteins have been shown to bear <span style="color: #C13E37;"> glycan X </span> and which site is this glycan attached to?</a></li>
                            
                            <li><a alt="What are the orthologues of protein X and how does a glycosylation site and glycan structure change in different species?" title="#" href="#">What are the orthologues of <span style="color: #C13E37;"> protein X </span> and how does a glycosylation site and glycan structure change in different species?</a></li>
                            
                            <li><a alt="Which glycans might have been synthesized in mouse using enzyme X?" title="#" href="#">Which glycans might have been synthesized in mouse using <span style="color: #C13E37;">enzyme X?</span></a></li>
                            
                            <li><a alt="What are the glycosyltransferases in species X?" title="#" href="#">What are the glycosyltransferases in <span style="color: #C13E37;">species X</span>?</a></li>
                            
                            <li><a alt="Which glycosyltransferases are known to be involved in disease X" title="#" href="#">Which glycosyltransferases are known to be involved in <span style="color: #C13E37;"> disease X?</span></a></li>
                         </ul><br>
                     </div>
                     <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            See All
                        </a>
                     </div>
                     
<!--
                        <div class="gg-btn-link">
                        <a href="glycan_search.html" target="_blank" class="btn btn-link">
                            See All
                        </a>
                        </div>
-->
                    </div>
                  </div>
                </div>
            </div> 
              
               
            <div class="row"> 
                <div class="col-sm-12">
                  <div class="panel panel-default text-left card">
                    <div class="panel-body">
                     <h3 style="text-align: center;"><strong>Try Me</strong></h3>
                      <div class="gg-panel-links">
                          <ul>
                            <li><a alt="What are the enzymes involved in the biosynthesis of Man5 in human?" title="#" href="#">What are the enzymes involved in the biosynthesis of <span style="color: #C13E37;"> Man5 </span>in human?</a></li>
                            
                            <li><a alt="Which proteins have been shown to bear a bi-antennary fully sialated N-Glycan and which site is this glycan attached to?" title="#" href="#">Which proteins have been shown to bear <span style="color: #C13E37;"> a bi-antennary fully sialated N-Glycan </span>and which site is this glycan attached to?</a></li>
                            
                            <li><a alt="Which glycans might have been synthesized in mouse using Mgat1?" title="#" href="#">Which glycans might have been synthesized in mouse using<span style="color: #C13E37;"> Mgat1 </span>?</a></li>
                            
                            <li><a alt="What are the glycosyltransferases in Human?" title="#" href="#">What are the glycosyltransferases in <span style="color: #C13E37;"> Man5 </span>Human?</a></li>
                         </ul><br>
                     </div>
                     <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            See All
                        </a>
                    </div>
<!--
                        <div class="gg-btn-link">
                        <a href="#" class="btn btn-link">
                            See All
                        </a>
                        </div>
-->
                    </div>
                  </div>
                </div>
            </div>  
            
                                
    </div> <!-- End class="col-md-9" left left section -->

<!--  Start right section  -->
        <div class="row" style="padding-bottom: 18px;">
         <div class="col-sm-3">
          
          <div class=" panel panel-default thumbnail card">
          <h3><strong>Your Opinion Matters</strong></h3><br>
             <a href="#" target="_blank">    
                <img style="width: 50%" src="images/survey.png" alt="Survey">
             </a>
           <div class="caption text-left">  
           <p>Please provide feedback and suggestion to help us improve the GlyGen portal  and make it more useful for the community.</p>
           
            <div class="gg-card-explore">
                <a href="survey.html" class="btn btn-link btn-block">
                    Take Servey
                </a>
            </div>
<!--
             <div class="gg-popular-topics"> 
              <ul>
                <li><a alt="List of Glygen" title="List of Glygen" href=" " target="_blank">List of Glygen</a></li>
                <li><a alt="List of Protein" title="List of Protein" href=" " target="_blank">List of Protein</a></li>
                <li><a alt="List of Proteoform" title="List of Proteoform" href=" " target="_blank">List of Proteoform</a></li>
                <li><a alt="Quick Search" title="Quick Search" href=" " target="_blank">Quick Search</a></li>
                <li><a alt=" Try Me" title="Try Me" href=" " target="_blank">Try Me</a></li>
                <li><a alt=">Explore Resourses" title=">Explore Resourses" href=" " target="_blank">Explore Resourses</a></li>
             </ul>
             </div>
-->
            </div> 
           </div>
          
  
          <div class="panel panel-default thumbnail card">
              <h3><strong>Explore Other Resources</strong></h3>
                <div class="caption text-left">

                    <p><a href="https://glytoucan.org/" target="_blank" style="text-decoration: none;"><strong><em>GlyTouCan</em></strong></a><br> is the international glycan structure repository. It assigns globally unique accession numbers to any submitted glycan.</p>

                    <p><a href="http://www.uniprot.org/" target="_blank" style="text-decoration: none;"><strong><em>UniProt</em></strong></a><br>is a freely available, comprehensive resource of high quality protein sequences and functional annotations.<br></p>

                    <p><a href="http://www.unicarbkb.org/" target="_blank" style="text-decoration: none;"><strong><em>UniCarbKB</em></strong></a><br>is a knowledge base for curated glycoconjugate information and their annotations.<br></p>
                </div> 
                <div class="gg-card-explore">
                        <a href="#" class="btn btn-link btn-block">
                            Explore
                        </a>
                    </div>
            </div> 
            
            <div class="panel panel-default thumbnail card">
              <div class="media">
                  <div class="media-left gg-media" style="padding: 20px 40px 0 30px;">
                    <img src="images/tweeter.png" class="media-object" style="width:40px">
                  </div>
                  <div class="media-left">
                    <h3><strong>News</strong></h3>
                  </div>
                </div>
                <div class="caption text-left">  
                    
                   <a class="twitter-timeline" href="https://twitter.com/TatianaW" data-tweet-limit="3">My tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                   
                   <a href="https://twitter.com/TatianaW?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
                </div> 
          </div>
             
            <div class="panel panel-default thumbnail card">
              <h3><strong>Website Tour</strong></h3>
                <div class="caption">
                <iframe width="290" height="300" src="https://www.youtube.com/embed/4UnF-7Q79Mg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> 
           </div>                                                                       
        </div> <!--   End Right section -->
       </div> 
      </div> <!--  End class row -->
    </div><!-- End class="container text-center"-->

<!--  footer-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div w3-include-html="footer.html"></div>
    </body>
</html>